<div>    
    <div class="modal-header text-center">
        <h3 class="modal-title">Create new layer</h3>
    </div>
    <div class="modal-body text-center">
        <ul>
            <form  class="form-horizontal" name="loginForm">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input name="name" type="text" id="name" placeholder="layer name..." ng-model="model.name">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="width">Width</label>
                    <div class="controls">
                        <input name="width" type="text" id="width" placeholder="400 px" ng-model="model.width">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="height">Height</label>
                    <div class="controls">
                        <input name="height" type="text" id="height" placeholder="400 px" ng-model="model.height">
                    </div>
                </div>

            </form>
        </ul>           
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>   
</div>