
<ul class="toolbox" data-ng-controller="DrawToolboxCtrl">
    <li class="toolbox__title">Tools</li>
    <li
        class="toolbox__tool"
        data-ng-class="{toolbox__tool_active: 'line' == currentTool}"
        data-ng-click="setTool('line')">
        <i class="glyphicon glyphicon-pencil"></i>
    </li>
    <li
        class="toolbox__tool toolbox__tool_square"
        data-ng-class="{toolbox__tool_active: 'rectangle' == currentTool}"
        data-ng-click="setTool('rectangle')">
        &nbsp;
    </li>
    <li
        class="toolbox__tool"
        data-ng-class="{toolbox__tool_active: 'move' == currentTool}"
        data-ng-click="setTool('move')">
        <i class="glyphicon glyphicon-move"></i>
    </li>
    <li
        class="toolbox__tool"
        data-ng-class="{toolbox__tool_active: 'zoom' == currentTool}"
        data-ng-click="setTool('zoom')">
        <i class="glyphicon glyphicon-search" data-ng-click="setTool('zoom')"></i>
    </li>
    <li class="toolbox__separator"></li>
    <li
        class="toolbox__tool"
        data-ng-click="zoomIn">
        <i class="glyphicon glyphicon-zoom-in" data-ng-click="zoomIn(); setTool(null)"></i>
    </li>
    <li
        class="toolbox__tool"
        data-ng-click="zoomOut">
        <i class="glyphicon glyphicon-zoom-out" data-ng-click="zoomOut(); setTool(null)"></i>
    </li>
    <li class="toolbox__separator"></li>
    <li
        class="toolbox__tool"
        data-ng-click="zoomOut">
        <i class="glyphicon glyphicon-arrow-up" data-ng-click="shiftUp(); setTool(null)"></i>
    </li>
    <li
        class="toolbox__tool"
        data-ng-click="zoomOut">
        <i class="glyphicon glyphicon-arrow-down" data-ng-click="shiftDown(); setTool(null)"></i>
    </li>
    <li
        class="toolbox__tool"
        data-ng-click="zoomOut">
        <i class="glyphicon glyphicon-arrow-left" data-ng-click="shiftLeft(); setTool(null)"></i>
    </li>
    <li
        class="toolbox__tool"
        data-ng-click="zoomOut">
        <i class="glyphicon glyphicon-arrow-right" data-ng-click="shiftRight(); setTool(null)"></i>
    </li>
</ul>
