<div ng-controller="LayerCanvasCtrl">
    <ul class="layers">
        <li class="layers__layer">
            <ul class="layers__layer__options">
                <li class="layer-icon text-center">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </li>
                <li class="layer-icon text-center">
                    <i class="glyphicon glyphicon-trash"></i>
                </li>
                <li class="layer-name text-center">
                    Layer's name
                </li>
            </ul>
        </li>
    </ul>
    <ul ng-if="getCurrentFileId()!=null" class="layers__actions">
        <li class="layer__action " ng-click="openNewLayerModal()">
            <i class="glyphicon glyphicon-plus"></i>
        </li>
    </ul>
</div>