
<!--<div data-ng-controller="DrawCanvasCtrl">-->


<div class="col-xs-12" ng-controller="DrawCanvasCtrl">

    <!-- <div ng-include="'jspartials/draw_timeLine.html'" ng-if="files.length>0"></div> -->

    <uib-tabset ng-if="files.length>0">
        <uib-tab justified="true" active="makeActiveTab(file.id, getCurrentFileId())" ng-click="setCurrentFileId(file.id)" ng-repeat="file in files">
            <uib-tab-heading>
              {{file.name}} <i ng-click="deleteFile(file.id)" class='glyphicon glyphicon-remove'> </i>
            </uib-tab-heading>
            <div class="file-tab-content" style="width:{{file.width+30+'px'}}; height:{{file.height+30+'px'}}">
              <canvas draw-canvas current-layer-id="getCurrentLayerId()" current-file="getFilesLayers(getCurrentFileId())" width="{{file.width}}" height="{{file.height}}"> </canvas>
            </div>
        </uib-tab>
    </uib-tabset>

    <div class="canvas__message" ng-if="files.length==0">
        There is no open files yet.<br />
        Create one from top menu.
    </div>

    <!-- this should be moved to tab later -->
    <!-- <canvas draw-canvas="" width="300" height="300"></canvas> -->

</div>
