<!DOCTYPE html>
<html>
	<head>
	<title><%= title %></title>

		<link rel="stylesheet" href="main.css">
		<script type="text/javascript" src="/js/main.js"></script>

	</head>
	<body ng-app="canvasApp">
	<nav class="navbar navbar-inverse" ng-controller="NavbarCtrl" ng-cloak>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="home">
			    	CanvasStudio 
				</a>
			</div>

			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="openNewFileModal()" href="#">New</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</nav>

	<div>
		<ui-view></ui-view>
	</div>

	</body>
</html>
