<div>
    <form name="newLayer" ng-submit="newLayerSubmit()">
        <div class="modal-header text-center">
            <h3 class="modal-title">Create new layer</h3>
        </div>
            <div class="modal-body text-center">
                <div>
                    <label class="file__label">Layer's name</label>
                    <input name="name" ng-model="newLayerData.name" required/>
                </div>
                <span class="alert alert-danger" ng-show="newLayer.layerName.$dirty && newLayer.layerName.$error.required">Layer's  name can't be empty</span>
            </div>
        <div class="modal-footer">

            <input class="btn btn-primary" type="submit" value="Create layer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>

</div>
